
<div class="modal-header">
	<button type="button" class="btn btn-default close" ng-click="s.cancel()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h3 class="modal-title">Submit a Comment</h3>
</div>

<div class="modal-body">

    <!-- How it Works (how-it-works.html) -->
    <!-- Instructions (instructions.html) -->

    <!-- Step 1: Enter Your Details (details.html) -->
    <!-- Step 2: Comment on Package 1 (pkg-1.html) -->
    <!-- Step 3: Comment on Package 1 (pkg-1.html) -->
    <!-- Step 4: Review (review.html) -->

    <!-- Success (success.html) -->
    <!-- Error (error.html) -->

</div>